@charset "UTF-8";

header, footer{
	width: 100%;	
	padding: 1em 0 1em 0.5em;
	background-color: orange;
}

a{
	text-decoration: none;
}

nav#top_nav{
	width: 100%;
	text-align: center;
}

nav#top_nav li, nav#profile_nav li{
	display: inline-block;
}

nav#top_nav a, nav#profile_nav a{
	padding: 0.5em 1em 0.5em 1em;
	display: block;
	border: 1px solid black;
}

nav#top_nav a:hover, nav#profile_nav a:hover{
	background-color: orange;
}

section#content{
	padding: 2em;
}

nav#profile_nav{
	width: 100%;
	text-align: left;
	margin: 0 auto 0 auto;
	padding: .5em;
}

footer{
	text-align: center;
}

footer a{
	margin: 1em;
}