@charset "UTF-8";

.news{
	border: 1px solid black;
	width: 95%;
	margin: 0 auto 2em auto;
	padding: .5em;
	background-color: #FFF9ED;
}

.news .votes{
	display: table-cell;
}

.news .votes > div{
	width: 5em;
	height: 5em;
	background-color: #FFEDC6;
	border: 0.2em dotted orange;
	text-align: center;
	margin: 0 .5em .5em 0;
}

.news .num_votes{
	padding-top: .5em;
	font-size: x-large;
}

.news .vote{
	display: block;
	padding-top: .5em;
}

.news .news_info{
	display: table-cell;
}


.news .title{
	font-weight: bolder;
	font-size: large;
}

.news .summary{
	margin-bottom: 1em;
}

.news .details{
	margin: .5em;
	font-size: small;
	color: #aaaaaa;
}

.news .author{
	font-weight: bolder;
}

.paginator{
	text-align: center;
}

#comments_list{
	width: 95%;
	margin: auto;
}

.comment {
	border: 1px solid black;
	padding: .5em;
	margin-bottom: 1em;
	background-color: #FFFDF9;
}

.comment .details{
	padding: .5em;
	font-size: small;
	color: #aaaaaa;
}