@charset "UTF-8";

.title{
	font-weight: bolder;
	font-size: large;
}

.info{
	background-color: #FFF9ED;
	margin: 15px 0 0 20px;
}

.info li{
	margin-bottom: 5px;
}

.info span{
	font-weight: bold;
}